* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f3ef;
    color: #392c1f;
}

/* --------------------------- Barra ------------------------------------*/
.barra {
    position: fixed;
    height: 100%;
    background-color: #bab78c;
    width: 21.875rem; /* 350px */
    padding: 2rem 2.5rem; /* 40px */
    font-size: 0.875rem; /* 14px */
    line-height: 1.6;
}

.pic {
    height: 9rem; /* 180px */
    width: auto;
    border-radius: 50%;
    border: 0.1875rem solid #392c1f; /* 3px */
    display: block;
    margin: 0 auto;
}

h4 {
    padding: 0.625rem; /* 10px */
    text-align: center;
}

.buttons {
    display: flex;
}

.button {
    display: block;
    margin: 1.25rem auto 0; /* 20px */
    text-align: center;
    background-color: #392c1f;
    color: white;
    width: 7.8125rem; /* 125px */
    padding: 0.625rem; /* 10px */
    border-radius: 0.5rem; /* 8px */
    text-decoration: none;
    font-weight: 500;
}

ul {
    padding-left: 1.25rem; /* 20px */
}

.b {
    padding-top: 0.8rem; /* 20px */
}

.cerrar-barra {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #392c1f;
    cursor: pointer;
    z-index: 1001;
}



/* --------------------------- main ------------------------------------*/
main {
    margin-left: 21.875rem; /* 350px */
    padding: 3.125rem 5rem; /* 50px 80px */
}

.titulo{
    display: flex;
    padding-bottom: 1rem;
}

.icono{
    height: 3rem;
    width: auto;
    padding-right: 1rem;
}

h2{
    padding-bottom: 0.5rem;
}

.a{
    padding-top: 2rem;
}


.servicios-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el bloque */
    margin-top: 2rem;
    font-size: 1rem;
}

.servicio {
    display: flex;
    align-items: center; /* Alinea verticalmente ícono y texto */
    gap: 10px; /* Espacio entre ícono y texto */
    margin: 8px 0;
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: center;
}

.servicio img {
    width: 24px;
    height: 24px;
}


/* ---------------- Cards --------------------*/

.cards {
    display: grid;
    gap: 3rem; 
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.6;
    align-items: center;
}

.card {
    background-color: #e0e0db;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.card-body {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-body h3 {
    margin: 0 0 0.5rem;
    font-size: 1rem;
}

.card-body p {
    flex-grow: 1;
    margin-bottom: 1rem;
}

.card-button {
    display: inline-block;
    background-color: #bab78c;
    color: #392c1f;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-align: center;
    font-weight: bold;
}

.card-body div {
    display: flex;
    justify-content: center;
    gap: 0.5rem; 
    margin-top: 1rem;
}


/* --------------------- boton personal ---------------------*/
.boton{
    display: none;
}



/* ------------------- Responsive design ------------------- */

@media (max-width: 1000px) {

    /* ---------- barra ------------ */

    .barra {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        overflow-y: auto;
    }

    .barra.activa {
        transform: translateX(0);
    }

    .cerrar-barra {
        display: block;
    }
    
    
    /* ---------- boton ------------- */

    .boton {
        display: block;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: #bab78c;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
    }

    .boton-pic{
        height: 2rem; /* 180px */
        width: auto;
        border-radius: 50%;
        border: 0.09rem solid #392c1f; /* 3px */
        display: block;
        margin: 0 auto; /* alineado horizontal */
    }

    .boton-p{
        padding-left: 0.5rem;
    }

    
    /* ---------- main ------------- */

    main {
        margin-left: 0;
        padding: 2rem;
    }
    
}


@media (max-width: 500px) {

    /* ---------- barra ------------ */

    .barra {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        overflow-y: auto;
    }

    .barra.activa {
        transform: translateX(0);
    }

    .cerrar-barra {
        display: block;
    }
    
    
    /* ---------- boton ------------- */

    .boton {
        display: block;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: #bab78c;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
    }

    .boton-pic{
        height: 2rem; /* 180px */
        width: auto;
        border-radius: 50%;
        border: 0.09rem solid #392c1f; /* 3px */
        display: block;
        margin: 0 auto; /* alineado horizontal */
    }

    .boton-p{
        padding-left: 0.5rem;
    }

    
    /* ---------- main ------------- */

    main {
        margin-left: 0;
        padding: 2rem;
    }

    .titulo{
        display: flex;
        padding-bottom: 1rem;
        flex-direction: column;
    }

    .icono{
        margin: 0 auto;
        width: 4rem;
        height: auto;
    }
}
